@page "/category"
@inject ICategoryRepository _categoryRepository;
@inject IJSRuntime _JSRuntime;

@if (IsProcessing)
{
    <div>
        <dvi>
            <p>Loading.....</p>
        </dvi>
    </div>
}
else
{
    <div class="rounded-md bg-white p-5">
        <div>
            <div class="flex items-center justify-between border-b py-5">
                <div>
                    <h3 class="text-3xl font-medium">Category List</h3>
                </div>
                <div>
                    <a href="/category/create" class="inline-block rounded-full bg-blue-600 px-6 py-3 text-white">
                        <i class="fa-solid fa-plus mr-2"></i> Add Category
                    </a>
                </div>
            </div>

            <div>
                <RadzenDataGrid AllowFiltering="false" AllowColumnResize="false" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="false" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                Data="@Categories" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single">
                    <Columns>
                        <RadzenDataGridColumn Property="@nameof(Category.Id)" Title="Id" Width="160px" />
                        <RadzenDataGridColumn Property="@nameof(Category.Name)" Title="Name" Width="160px" />
                        <RadzenDataGridColumn Context="Category" Filterable="false" Title="Action" Sortable="false">
                            <Template>
                                <div>
                                    <a href="@($"/category/update/{Category.Id}")" class="inline-block rounded-full bg-blue-600 px-4 py-2 text-white">
                                        <i class="fa-solid fa-pen-to-square"></i> Edit
                                    </a>

                                    <button @onclick="() => CategoryDelete(Category.Id)" class="inline-block rounded-full bg-red-500 px-4 py-2 text-white">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

            </div>
            @* <div class="w-full rounded-lg">
                @if (Categories.Any())
                {
                    <table class="w-full table-fixed border-collapse border border-gray-400">
                        <thead>
                            <tr class="round-t-lg text-left">
                                <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">Id</th>
                                <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">Name</th>
                                <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Categories)
                            {
                                <tr class="even:bg-blue-gray-50/50">
                                    <td class="border border-gray-300 py-2">@category.Id</td>
                                    <td class="border border-gray-300 py-2">@category.Name</td>
                                    <td class="border border-gray-300 py-2">
                                        <a href="@($"/category/update/{category.Id}")" class="inline-block rounded-full bg-blue-600 px-4 py-2 text-white">
                                            <i class="fa-solid fa-pen-to-square"></i> Edit
                                         </a>

                                        <button @onclick="()=>CategoryDelete(category.Id)" class="inline-block rounded-full bg-red-500 px-4 py-2 text-white">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span class="text-red-500">No Categories Found</span>
                }
            </div> *@
        </div>
        @Text
    </div>
}

@code {

    public bool IsProcessing { get; set; } = true;
    private IEnumerable<Category> Categories { get; set; } = new List<Category>();
    private int DeleteCategoryId { get; set; } = 0;
    private string Text { get; set; }
    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadCategory();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategory()
    {
        Categories = await _categoryRepository.GetAllAsync();    
    }


    private async Task CategoryDelete(int id)
    {
        // DeleteCategoryId = id;
        // IsProcessing = true;
        // await _categoryRepository.DeleteAsync(id);
        // IsProcessing = false;
        // _ShowToastrIsConfirm
        bool isConfirmed = await _JSRuntime.InvokeAsync<bool>("isConfirm", "You will delete category");
        if(isConfirmed)
        {
            IsProcessing = true;
            await _categoryRepository.DeleteAsync(id);
            IsProcessing = false;
            await LoadCategory();
            await _JSRuntime.InvokeVoidAsync("showSwal", "success", "Category Deleted Successfully");
        }
        else
        {
            Text = "Error";
        }
    }

}
